<!doctype html>
<html lang="Ru-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MIX MVP</title>
    <link rel="stylesheet" type="text/css" href="/css/main.bundle.css">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    
</head>

<body>
    <div id="root"></div>
    <script src="/js/main.bundle.js"></script>
</body>

</html>